NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SSS_PROGRAM_ID=CRRt7KSFfY55BY64hiYGmiHZa5G9fRdqKTCiRNLmYdPe
NEXT_PUBLIC_TRANSFER_HOOK_PROGRAM_ID=HGAuoP17ytFpMbkToeJbP2RChQUPSv4koKuqqTUvw9dU
